name: release

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches: [main]
    tags: ['v*']

defaults:
  run:
    shell: bash

env:
  UV_LOCKED: 1
  UV_NO_SYNC: 1

jobs:

  wheels:
    if: ${{ github.ref_type == 'tag' }}
    uses: ./.github/workflows/_build-wheels.yml
    with:
      cibw_build: "cp310-* cp311-* cp312-* cp313-* cp314-*"

  release:
    if: ${{ github.ref_type == 'tag' }}
    name: Release to TestPyPI
    needs: [wheels]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    environment: testpypi
    env:
      UV_LOCKED: 0
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
          persist-credentials: false

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Bump project version to match tag
        id: automatic-version
        run: |
          set -Eeuxo pipefail
          version="${GITHUB_REF#refs/tags/v}"
          uv version "$version"

      - name: Validate tag
        id: validate-tag
        run: |
          set -Eeuxo pipefail
          project_version=v$(uv version --short)
          tag=${GITHUB_REF#refs/tags/}
          [[ "$tag" == "$project_version" ]] || {
            echo "Tag $tag does not match project version $project_version"
            exit 1
          }

      - name: Build package distributions
        id: build
        run: uv build --sdist --wheel --out-dir dist

      - name: Download wheel artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true

      - name: 'Create a GitHub release'
        uses: ncipollo/release-action@v1.20.0
        with:
          prerelease: false
          draft: false
          makeLatest: true
          tag: "${{ github.ref_name }}"
          name: "${{ github.ref_name }}"
          generateReleaseNotes: true
